<div class="columns is-vcentered has-text-centered" id="blog-card">
    <div class="column is-one-third-desktop is-one-third-tablet">
        <div class="blog-card-image-container">
            <img src="{{post.post-image}}" alt="{{post.title}}" class="blog-mini-image">
        </div>
    </div>

    <a href="{{post.url | absolute_url}}" class="column has-text-left-desktop has-text-left-tablet">
        <div>
            <h1 class="title is-size-4-touch">{{post.title}}</h1>
            <div class="content has-text-grey">

                <hr class="has-background-grey">
                <span class="has-text-grey">
                    Published on <span class="has-text-weight-semibold">{{ post.date | date: "%-B %d, %Y" }}</span>
                </span>
                | <i class="fas fa-clock"></i>
                <span class="has-text-weight-semibold">
                    {% assign words = post.content | number_of_words %}
                    {%- unless content.size == 0 -%}{{ words | divided_by:180 | plus: 1 }} min{% endunless %} read
                </span>
            </div>
        </div>
    </a>
</div>
