<section class="section has-background-light" id="contact">
    <div class="container">
        <div class="has-text-centered mb-6">
            <h2 class="title is-2 has-text-weight-bold mb-3">Get In Touch</h2>
            <p class="subtitle is-5 has-text-grey">Have a project in mind or just want to talk tech? I’m always open to interesting opportunities and coffee chats</p>
        </div>

        <div class="columns is-centered is-multiline">
            {% unless site.facebook_username == nil %}
            <div class="column is-4-desktop is-6-tablet">
                <a id="contact-button-fb" href="https://m.me/{{site.facebook_username}}"
                    class="button is-fullwidth is-primary is-rounded is-medium"
                    target="_blank">
                    <span class="icon"><i class="fab fa-facebook-messenger"></i></span>
                    <span>Messenger</span>
                </a>
            </div>
            {% endunless %}

            {% unless site.email == nil %}
            <div class="column is-4-desktop is-6-tablet">
                <a id="contact-button-email" href="mailto:{{site.email}}"
                    class="button is-fullwidth is-primary is-outlined is-rounded is-medium"
                    target="_blank">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <span>Email</span>
                </a>
            </div>
            {% endunless %}

            {% unless site.twitter_username == nil %}
            <div class="column is-4-desktop is-6-tablet">
                <a id="contact-button-tw" href="https://www.twitter.com/intent/tweet?screen_name={{site.twitter_username}}"
                    class="button is-fullwidth is-link is-rounded is-medium"
                    target="_blank">
                    <span class="icon"><i class="fab fa-twitter"></i></span>
                    <span>Twitter</span>
                </a>
            </div>
            {% endunless %}
        </div>

        <hr class="my-6">

        <div class="has-text-centered">
            <h3 class="title is-4 mb-5">Also find me on</h3>
            <div class="social-icons is-size-3">
                {% unless site.instagram_username == nil %}
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="mx-3" aria-label="Instagram">
                    <i class="fab fa-instagram has-text-dark"></i>
                </a>
                {% endunless %}
                {% unless site.linkedin_username == nil %}
                <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="mx-3" aria-label="LinkedIn">
                    <i class="fab fa-linkedin has-text-dark"></i>
                </a>
                {% endunless %}
                {% unless site.github_username == nil %}
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="mx-3" aria-label="GitHub">
                    <i class="fab fa-github has-text-dark"></i>
                </a>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
