<footer id="footer" class="has-background-black has-text-light">
    <div class="container">
    <div class="back-to-top-wrapper">
        <button class="button back-to-top-wide"
                onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
            <span class="icon is-small">
                <i class="fas fa-arrow-up"></i>
            </span>
            <span>Back to top</span>
        </button>
    </div>
</div>

    <div class="footer-main">
        <div class="container">
            <div class="columns is-variable is-8">

                <div class="column is-4">
                    <div class="footer-logo-box is-size-4">A.A.</div>
                    <h4 class="title is-4 has-text-white mb-3">{{site.author-name}}</h4>
                    <p class="has-text-grey-light mb-5 is-size-6">
                        {{ site.author-footer }}
                    </p>

                    <div class="is-flex">
                        {% if site.email %}
                        <a href="mailto:{{site.email}}" class="social-icon-link mr-3" title="Email">
                            <img src="/assets/images/social/gmail-icon-logo-svgrepo-com.svg" style="width: 22px;">
                        </a>
                        {% endif %}

                        {% if site.telegram_username %}
                        <a href="https://t.me/{{site.telegram_username}}" target="_blank" class="social-icon-link mr-3" title="Telegram">
                            <img src="/assets/images/social/telegram-svgrepo-com.svg" style="width: 22px;">
                        </a>
                        {% endif %}

                        {% if site.linkedin_username %}
                        <a href="https://linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="social-icon-link mr-3" title="LinkedIn">
                            <img src="/assets/images/social/linkedin-svgrepo-com.svg" style="width: 22px;">
                        </a>
                        {% endif %}

                        {% if site.github_username %}
                        <a href="https://github.com/{{site.github_username}}" target="_blank" class="social-icon-link" title="GitHub">
                            <img src="/assets/images/social/github-outline-svgrepo-com(2).svg" style="width: 22px;">
                        </a>
                        {% endif %}
                    </div>
                </div>

                <div class="column is-2 is-offset-1">
    <h5 class="has-text-white has-text-weight-bold mb-5 is-uppercase is-size-7" style="letter-spacing: 2px;">Navigation</h5>
    <ul class="footer-links">
        <li class="mb-3"><a href="{{ '/' | absolute_url }}" class="has-text-grey-light">Home</a></li>
        <li class="mb-3"><a href="{{ site.baseurl }}/project" class="has-text-grey-light">Projects</a></li>
        <li class="mb-3"><a href="{{ '/' | absolute_url }}#contact" class="has-text-grey-light">Contact</a></li>
    </ul>
</div>

                <div class="column is-4 is-offset-1">
                    <h5 class="has-text-white has-text-weight-bold mb-6 is-uppercase is-size-7" style="letter-spacing: 2px;">Latest Updates</h5>
                    {% for post in site.posts limit: 2 %}
                    <a href="{{ post.url | absolute_url }}" class="post-card-mini is-block mb-3">
                        <div class="columns is-mobile is-vcentered">
                            <div class="column is-narrow">
                                <figure class="image is-48x48">
                                    <img src="{{ post.post-image | default: '/assets/images/default-post.png' }}" class="is-rounded" style="object-fit: cover;">
                                </figure>
                            </div>
                            <div class="column">
                                <h6 class="has-text-white is-size-7 has-text-weight-semibold mb-0">{{ post.title | truncate: 45 }}</h6>
                                <span class="has-text-grey-dark is-size-7">{{ post.date | date: "%b %d" }}</span>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

    <div class="py-5" style="background: #0a0a0a; border-top: 1px solid rgba(255,255,255,0.05);">
        <div class="container">
            <div class="level is-mobile" style="flex-wrap: wrap;">
                <div class="level-left">
                    <p class="is-size-7 has-text-grey">
                        &copy; {{ "now" | date: "%Y" }} {{site.author-name}}. Built with passion.
                    </p>
                </div>
                <div class="level-right">
                    <div class="tags are-small">
                        <span class="tag is-dark">Python</span>
                        <span class="tag is-dark">Fast API</span>
                        <span class="tag is-dark">Django</span>
                        <span class="tag is-dark">React</span>
                        <span class="tag is-dark">JavaScript</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
