<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" id="navbar">
    <div class="container">
        <!-- Бренд с бургером -->
        <div class="navbar-brand">
            <a class="navbar-item brand-logo has-text-weight-bold has-text-primary"
                href="{% if page.layout == 'default' %}{{site.url}}{{site.baseurl}}/#{% else %}{{site.url}}{{site.baseurl}}/{% endif %}">
                <div class="logo-container">
                    <span class="icon-text">
                        <span class="icon logo-icon">
                            <i class="fas fa-code"></i>
                        </span>
                        <span class="logo-text">{{site.title}}</span>
                    </span>
                    <span class="logo-dot"></span>
                </div>
            </a>

            <!-- Бургер с data-target -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <!-- Меню -->
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item nav-link {% if page.url == '/' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/">
                    <span class="nav-icon"><i class="fas fa-home"></i></span>
                    <span class="nav-text">Home</span>
                    <span class="nav-underline"></span>
                </a>
                <a class="navbar-item nav-link {% if page.url contains 'about' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/#about">
                    <span class="nav-icon"><i class="fas fa-user"></i></span>
                    <span class="nav-text">About</span>
                    <span class="nav-underline"></span>
                </a>
                <a class="navbar-item nav-link {% if page.url contains 'project' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/project">
                    <span class="nav-icon"><i class="fas fa-briefcase"></i></span>
                    <span class="nav-text">Projects</span>
                    <span class="nav-underline"></span>
                </a>
                <a class="navbar-item nav-link {% if page.url contains 'blog' %}is-active{% endif %}"
                    href="{{site.url}}{{site.baseurl}}/blog">
                    <span class="nav-icon"><i class="fas fa-blog"></i></span>
                    <span class="nav-text">Blog</span>
                    <span class="nav-underline"></span>
                </a>
            </div>
        </div>
    </div>
</nav>

