<div class="columns is-multiline is-centered is-variable is-4">
  {% for project in site.data.projects %}
  <div class="column is-one-third-desktop is-half-tablet">
    <div class="project-card card interactive-card">

      <div class="card-image">
        {% if project.image %}
        <figure class="image is-16by9">
          <img src="{{project.image}}" alt="{{project.name}}" loading="lazy">
          <div class="image-overlay"></div>
          {% if project.category %}
          <span class="project-category tag is-{{ project.category == 'volunteer' ? 'primary' : 'link' }} is-rounded">
            {{ project.category | capitalize }}
          </span>
          {% endif %}
        </figure>
        {% else %}
        <div class="project-placeholder-neon">
          <span class="neon-text">Coming Soon</span>
        </div>
        {% endif %}
      </div>

      <div class="card-content">
        <h3 class="title is-5 mt-2 mb-4">{{ project.name }}</h3>

        <p class="subtitle is-6 has-text-grey mt-2 mb-3">
          {{ project.description }}
        </p>

        {% if project.technologies %}
        <div class="tech-tags mb-3"> <!-- mb-4 изменено на mb-3 -->
          {% for tech in project.technologies %}
          <span class="tag is-light is-rounded">{{ tech }}</span>
          {% endfor %}
        </div>
        {% endif %}

        {% if project.results %}
        <div class="project-results mt-auto">
          <h4 class="is-size-7 has-text-weight-bold mb-1 is-uppercase">Key Results:</h4> <!-- mb-2 изменено на mb-1 -->
          <ul>
            {% for result in project.results %}
            <li class="mb-1">{{ result }}</li> <!-- Добавлен класс mb-1 -->
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <footer class="card-footer">
        {% if project.link %}
        <a href="{{ project.link }}" target="_blank"
           class="card-footer-item has-text-secondary has-text-weight-semibold">
          <span class="icon"><i class="fas fa-external-link-alt"></i></span>
          <span>Live Demo</span>
        </a>
        {% endif %}
        {% if project.github %}
        <a href="{{ project.github }}" target="_blank"
           class="card-footer-item has-text-secondary has-text-weight-semibold">
          <span class="icon"><i class="fab fa-github"></i></span>
          <span>Code</span>
        </a>
        {% endif %}
      </footer>
    </div>
  </div>
  {% endfor %}
</div>
