


::placeholder {
    font-family: 'Poppins', sans-serif;
}

.is-active {
    font-weight: bold;
}

.columns {
    .button {
        margin: 0.5rem !important;
    }
}

hr {
    margin: 1rem auto;
    height: 1px;
}

.column {
    margin: auto 0.5rem;
    padding: 0.5rem;
}

.searchResult {
    a {
        .title {
            text-decoration: underline;
        }
    }
}

